/* .panel {
  margin: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  min-width: 500px;
} */

.banner {
  height: 68px;
  position: absolute;
  right: 0px;

}

.head {
  height: 36px;
}

.chat-header {
  padding: 20px;
  background-color: coral;
}

.chat-body {
  padding: 20px;
  height: 100%;
  width: 100%;
  max-height: 505px;
  overflow: auto;
  background-color: bisque;
}

.chat-input {
  padding: 20px;
  background-color: burlywood;
}

.my-message.mat-card {
  margin-bottom: 5px;
}

.input-message {
  width: 90%;
}

.select-style {
  width: 300px;
}
