<div class="panel">
  <div class="chat-header">
    <form>
      <mat-form-field class="select-style">
        <mat-label>Select chat room</mat-label>
        <mat-select >
          <mat-option *ngFor="let room of rooms" [value]="room.value">
            {{room.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="clickMe()" mat-button><mat-icon>supervisor_account</mat-icon></button>
    </form>
  </div>
  <div class="chat-body">
    <mat-list>
      <mat-list-item *ngFor="let msg of msgs">
        <img matListAvatar src="../../assets/luka.png">
        <h3 matLine>{{msg.msg}}</h3>
        <p matLine><span>{{msg.user}}</span></p>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="chat-input">
      <mat-form-field class="input-message">
        <mat-label>Input message</mat-label>
        <input matInput placeholder="message" value="Hello?">
      </mat-form-field>
      <button (click)="getList()" mat-button><mat-icon>send</mat-icon></button>
  </div>
</div>
